/* Import Roboto Slab for article headings */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

/* Article styles */

#wp-news-search-results .wp-news-search-articles__wrapper {
  display: flex;
  flex-flow: row wrap;
}

#wp-news-search-results .wp-news-search-articles__block {
  width: 100%;
  padding: 24px;
  transform: translateX(-400px);
  opacity: 0;
  animation: clear 0.3s ease forwards;
}

/* Slower animation for prefers-reduced-motion */
@media (prefers-reduced-motion) {
  #wp-news-search-results .wp-news-search-articles__block {
    transform: none;
    opacity: 0;
    animation-duration: 0.8s;
  }
}

/* Animation for articles */
@keyframes clear {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#wp-news-search-results .wp-news-search-articles-article,
#wp-news-search-results .wp-news-search-articles-article .img__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#wp-news-search-results .wp-news-search-articles-article .img__wrapper {
  flex: 3 1 calc(var(--modifier) * 999);
  height: calc(282px + 5vw);
  overflow: hidden;
}

#wp-news-search-results .wp-news-search-articles-article .img__wrapper img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

#wp-news-search-results .wp-news-search-articles-article {
  --modifier: calc(70ch - 100%);
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 7px 7px -5px dimgrey;
}

#wp-news-search-results .wp-news-search-articles-article .article-content {
  padding: 16px 32px;
  flex: 4 1 calc(var(--modifier) * 999);
}

#wp-news-search-results .wp-news-search-articles-article .article-title {
  position: relative;
  margin-bottom: 1ex;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", serif;
}

#wp-news-search-results .wp-news-search-articles-article .article-title::after {
  position: absolute;
  content: "";
  margin: 0.2em;
  width: 20px;
  height: 20px;
  background: url(../img/new_tab.svg) no-repeat;
  background-size: 20px;
}

/* Form styles */

#wp-news-search__form {
  max-width: 600px;
}

#wp-news-search__form .form__wrapper {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 260px;
  justify-content: space-between;
}

#wp-news-search__form input {
  flex: 4 0 auto;
  height: 45px;
  margin-bottom: 20px;
  padding: 5px 10px 5px 40px;
  font-size: 20px;
  border: black solid 2px;
  border-radius: 8px;
  background: white url(../img/magnifying-glass.svg) no-repeat 1%;
  background-size: 20px;
}

#wp-news-search__form button {
  flex: 1 0 auto;
  height: 45px;
  border: black solid 2px;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  background-color: white;
}

/* Form  effects */
#wp-news-search__form input:focus,
#wp-news-search__form button:focus {
  outline-offset: 2px;
  outline: 2px dotted var(--form--border-color);
}

#wp-news-search__form button:hover,
#wp-news-search__form button:focus {
  background-color: rgb(236, 236, 236);
}
